{# templates/employee/employee_form.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Employee Data Form{% endblock %}

{% block body %}
    <div class="container">
        <h2>Employee Data Form</h2>
        <div>
            <button class="dashboard-btn" onclick="window.location.href='{{ path('app_dashboard') }}'">Back</button>
        </div>


        {{ form_start(form) }}

        {{ form_row(form.employeeName) }}
        {{ form_row(form.employeeID) }}
        {{ form_row(form.departmentName) }}
        {{ form_row(form.role) }}
        {{ form_row(form.joiningDate) }}
        {{ form_row(form.monthlySalary) }}
        {{ form_row(form.projectsCompleted) }}
        {{ form_row(form.teamLeadName) }}
        {{ form_row(form.numLeavesPerMonth) }}
        {{ form_row(form.numOfficialLeaves) }}
        {{ form_row(form.allowedLeaves) }}
        {{ form_row(form.unpaidLeaves) }}
        {{ form_row(form.overtimeHours) }}
        {{ form_row(form.homeAddress) }}
        {{ form_row(form.idCardNumber) }}
        {{ form_row(form.residentialCity) }}

        <input class="dashboard-btn" type="submit" value="Submit">
        {{ form_end(form) }}
    </div>
{% endblock %}
